@using System.Collections.Generic;
@using System.Numerics;
@model List<string>;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .item-name{
        margin-bottom: 25px;
        background: white;
        padding: 10px 14px;
        border-radius: 10px;
    }
    #menu{
        background-color: #808080;
    }
</style>

    <div class="row">
        <div class="col-md-2" id="menu">
            @foreach (string Name in Model)
            {
                <div class="item-name">@Name</div>
            }
        </div>
        <div class="col-md-10 d-flex justify-content-center align-items-center">
            <img src="~/images/head_map.png" alt="" style="width: 700px;">
        </div>
    </div>


